@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* vh = viewport height */
  height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.container {
  background-color: #032031;
  border-radius: 16px;
  width: 620px;
  text-align: center;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 0;
}
button {
  margin-top: 72px;
  border: none;
  padding: 16px 36px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #12b248;
  border-radius: 8px;
}
button:hover {
  background-color: #0c8133;
}
.password-container {
  margin-top: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.result {
  width: 230px;
  min-height: 48px;
  background-color: #1d445b;
  color: #12b248;
  padding: 12px;
  border-radius: 8px;
}
